html {
  padding: 0;
  margin-top: 2.5vh;
  display: grid;
  place-items: center;
  background: radial-gradient(rgb(65, 46, 176) 50%, rgb(187, 90, 225) 100%);
}

body {
  width: 70%;
  min-height: 70vh;
  padding: 1.5rem;
  display: grid;
  place-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  height: 2rem;
  font-size: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 2px dotted white;
  color: white;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-family: sans-serif;
}

.submit {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  color: white;
  letter-spacing: 0.3rem;
  font-weight: bold;
  margin-top: 1rem;
  font-family: sans-serif;
}

.entering {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: space-evenly;
  max-width: 100%;
}

ol {
  padding: 0.3rem;
  width: 100%;
  height: 50vh;
}

li {
  border-bottom: 1px double white;
  font-size: 1.2rem;
  list-style: none;
  margin: 0.3rem;
  color: white;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

button {
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

.float-right {
  float: right;
}

.line-through {
  text-decoration: line-through;
  opacity: 0.3;
}

@media only screen and (max-width: 610px) {
  /* For mobile phones:*/
  li {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
  }

  body {
    width: 50%;
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones:*/
  li {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
  }

  body {
    width: 50%;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }
}
